---
import Layout from "@/layouts/Layout.astro"
import { getCollection, type CollectionEntry } from "astro:content"
import Container from "@/components/filterComp/Container.svelte"
import { InputFilter } from "@/components/filterComp/input.tsx"

const blogs = await getCollection('blog')
---

<Layout 
  title="blog" 
  keywords={["blog of ikhwan satrio","ikhwan satrio blog","main blog ikhwan satrio"]}
  description="blog page, i share a day in my life here!"
>
  <main class="w-full min-h-screen flex flex-col justify-start items-center py-10 bg-gray-50 gap-5">
    <InputFilter client:load/>
    <div class="w-[90%] h-[690px] flex flex-wrap gap-6 shadow-2xl p-5 rounded-lg overflow-x-hidden overflow-y-auto ">
      <Container {blogs} client:idle/> 
    </div>
  </main> 
</Layout>

