---
    import Layout from "@/layouts/Layout.astro";
    import { PlanetModel } from "@/components/svelte/Planetmodel";
    import { SkillList } from "@/components/skillbar.tsx"
    import { CodeSpace } from "@/components/svelte/Codespace";
---

<Layout title="about" keywords={["portofolio","portofolio ikhwan satrio","about portofolio ikhwan"]} description="about page for my portofolio">
    <section class=" w-full h-screen flex flex-wrap justify-around md:px-8 items-center bg-white-absolute">
        <div class=" p-3 grid gap-2 w-[300px]">
            <h1 class=" font-poppins text-5xl font-bold">About.</h1>
            <p class="text-xl font-[300] font-poppins">i'm frontend developer born in west java,indonesia</p>
            <p class=" font-[200] font-poppins m-1">
                Since 2023, I’ve enjoyed solving logical problems through code rather than memorization. When I’m not coding, I explore new technologies and challenge myself with logical puzzles. 🚀            
            </p>
        </div>
        <PlanetModel client:only="svelte"/>
    </section>
    <section class="w-full h-screen bg-near-grey flex flex-wrap justify-around px-2.5 items-center">
        <CodeSpace client:visible/> 
        
        <div class=" flex flex-col justify-start gap-1.5 h-[350px]">
            <h2 class=" font-[200] text-4xl">random facts</h2>
            <ul class="m-1.5 *:font-thin">
                <li>i drink a lot of coffe</li>
                <li>i like about space</li>
                <li>my favorite game is roblox</li>
                <li>i like chalisthenic</li>
                <li>i love watch anime!</li>
                <li>i thrust issue with irl girl</li>
            </ul> 
        </div>
    </section>
    <section class="w-full h-screen bg-white flex flex-wrap justify-around items-start px-2.5 ">
        <div class=" my-auto h-[300px]">
            <h2 class=" font-[200] text-4xl">skills</h2>
            <a class=" text-lg m-2" href="/project">my project <i class="fa-solid fa-chevron-right"></i></a>

            <!-- Heading dan daftar library -->
            <h3 class="mt-6 ml-2 text-lg font-medium text-gray-800">This website is built with:</h3>
        <ul class="mt-2 ml-4 text-base list-disc list-inside text-gray-700">
            <li><a href="https://astro.build/" target="_blank" class="hover:underline text-blue-600">Astro</a></li>
            <li><a href="https://svelte.dev/" target="_blank" class="hover:underline text-orange-600">Svelte</a></li>
            <li><a href="https://react.dev/" target="_blank" class="hover:underline text-cyan-700">React</a></li>
            <li><a href="https://ui.shadcn.dev/" target="_blank" class="hover:underline text-neutral-800">ShadCN UI</a></li>
            <li><a href="https://threlte.xyz/" target="_blank" class="hover:underline text-purple-700">Threlte</a></li>
        </ul>
        </div>
        <SkillList client:visible/>
    </section>
</Layout>
